* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-image: url(deski3.jpg);
    color: #FEFFCC;
}

p {
    margin: 1em 0;
    
}

/*a {
    cursor: pointer;
}*/

a:link, a:visited {
    margin: 0.125em;
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
a:active {
    position: relative;
    top: 1px;
}

div#wrapper {
    width: 960px;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    /*background: antiquewhite;*/
}

header {
    padding: 1em;
    font-family: Papyrus, Tahoma, sans-serif;
    background: #f20202;
}

/*article {
    margin: 1em auto;
}*/
section {
    margin: 1em auto;
}

footer {
    padding: 1em;
    background-image: url(deski3.jpg);
}

ul.horizontalMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.horizontalMenu li {
    display: inline-flex;
}
ul.horizontalMenu li a:link, ul.horizontalMenu li a:visited {
    padding: 10px 20px;
    background: gray;
    text-decoration: none;
    color: white;
}
ul.horizontalMenu li a:hover {
    background: darkorange;
    text-decoration: underline;
}
ul.horizontalMenu li a:active {
    background: orangered;
}

.textAlignCenter {
    text-align: center;
}

.border-1px-solid-black {
    border: 1px solid black;
}

.padding-1em {
    padding: 1em;
}



.text-align-center {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}

.overflow-auto {
    overflow: auto;
}

.margin-1em-auto {
    margin: 1em auto;
}

.text-align-left {
    text-align: left;
}

/*.box-sizing-border-box {
    box-sizing: border-box;
}*/